@font-face {
    font-family: 'Maiden';
    src: url('./fonts/maiden.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

.logo {
    font-family: 'Maiden';
    font-size: 2rem;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

header {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

nav li +li {
    margin-left: 1rem;
}

.nav a {
    text-decoration: none;
    color: #333;
    padding: 1rem;
    display: block;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
}

h1, h2 {
    font-family: 'Maiden';
}

@media(max-width: 500px) {
    .nav {
        margin-top: -30px;
    }

    .nav.open {
        max-height: 200px;
    }

    .nav-toggle {
        display: block;
    }

    .hero {
        background-image: url('./assets/bg-maiden.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .hero h1 {
        margin-top: -20px;
    }

    .container {
        flex-direction: column;
    }

    .sections {
        background-image: none !important;
        background-color: rgba(0, 0, 0, 0.923);
        color: #fff;
    }
    
}

.hero {
    background-color: rgba(0, 0, 0, 0.923);
    padding: 4rem 0;
    text-align: center;
}

.hero h1, p {
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.607);
    padding: 1rem 0;
}

.hero .btn {
    margin-top: 1rem;
    text-decoration: none;
}

.sections {
    background-image: url('./assets/bg-maiden.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.services {
    padding: 2rem 0;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 1rem;
}


.contact {
    padding: 2rem 0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input, textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.footer {
    background-color: black;
    text-align: center;
    padding: 1rem 0;
}
